@model VacancyApplicationAdminViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
              Applicant
            </th>
            <th>
              Vacancy Position
            </th>
            <th>
               Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vacancy_Applications) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Resume_request.Jobseeker.Firstname)@Html.DisplayFor(modelItem => item.Resume_request.Jobseeker.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacancy_request.Job_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application_status)
            </td>
            <td>
                <a asp-action="Edits" class="btn btn-warning" asp-route-id="@item.Id"> <i class="fa fa-pencil" aria-hidden="true"></i> </a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id"> <i class="fa fa-book" aria-hidden="true"></i> </a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return confirm('Are you sure you that you want to delete this resume')"> <i class="fa fa-trash" aria-hidden="true"></i> </a>
            </td>
        </tr>
}
    </tbody>
</table>
