@model IEnumerable<JobApp_Web_.Models.VacancyVM>

@{
    ViewData["Title"] = "AvailableJobs";
}

<h1>Available Jobs</h1>


<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
             Job Title
            </th>
            <th>
               Job Discription
            </th>
            <th>
               Job Requirements 
            </th>
            <th>
           Job Level
            </th>
            <th>
              Employment Type
            </th>
            <th>
             Submit Deadline
            </th>
            <th>
               Job category
            </th>
            <th>
               Company
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Job_title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job_Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job_Requirements)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job_level)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employment_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submit_deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Job_category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employer.Company_name)
                </td>
                <td>
                    <a asp-action="Apply" asp-route-id="@item.Id">Apply</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script>

        $(document).ready( function () {
            $('#tblData').DataTable();
        } );


    </script>

}