@model IEnumerable<JobApp_Web_.Models.VacancyVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_Requirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employment_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submit_deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job_category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employment_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submit_deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
