@model IEnumerable<JobApp_Web_.Models.ResumeVM>

@{
    ViewData["Title"] = "Manage Resume";
}

<h1>Resume View</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"> <i class="fa fa-plus" aria-hidden="true"></i> Create New Resume</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Education_level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorWork_Experiences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobbies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobseeker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Education_level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorWork_Experiences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobbies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobseeker.Id)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.Id"><i class="fa fa-book" aria-hidden="true"></i></a> 
                <a asp-action="Delete"  class="btn btn-danger"asp-route-id="@item.Id" onclick="return confirm('Are you sure you that you want to delete this resume')"><i class="fa fa-trash" aria-hidden="true"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
